<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each couse}}
    <tr>
      <th scope="row">{{inc @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.slug}}</td>
      <td><a href="detail/{{this._id}}/edit">Edit</a></td>
      <td>
        <form action="detail/{{this._id}}/delete?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger" onclick="">Delete</button>
        </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>